<html>
<head>
    <meta name="viewport" content="width=1000px, initial-scale=1" />
    <title>World's Largest Professional Network | LinkedIn</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <!--Styles-->
  <link rel="stylesheet" href="/stylesheets/style.css"  />
  <!---------->
</head>
<body>
  <header >
        <div class="header-style " >
        <div id="header-relative-part">
          <div class="wrap-middle">
            <div id="header-container" >
              <div class="left-header">
                <% #<%= link_to image_tag("/images/logo_flat_white.png"), {:controller => 'welcome'} %>
                <a href="/"><img src="/images/logo_flat_white.png"></a>
                
              </div>
              <div class="right-header">
                <menu>
                 <%= link_to 'What is LinkedIn?', welcome_whatislinkedin_path %> 
                 <%= link_to 'Join Today', new_user_registration_path %>
                 <%= link_to 'Sign In', new_user_session_path %>
                  
                </menu>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        </div>

  </header>
   <%= yield %>
    <footer>
        <div class="main-footer">
            <div class="main-footer-part1">
                <ul>
                    <li class="firstli"><a href="#">Help Center</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Advertising</a></li>
                    <li><a href="#">Talent Solutions</a></li>
                    <li><a href="#">Tools</a></li>
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Publishers</a></li>
                    <li><a href="#">Language</a></li>
                    <li class="lastli"><a href="#">SlideShare</a></li>
                    <li><a href="#">LinkedIn Updates</a></li>
                    <li><a href="#">LinkedIn Influencers</a></li>
                    <li><a href="#">LinkedIn Jobs</a></li>
                    <li><a href="#">Jobs Directory</a></li>
                    <li><a href="#">Company Directory</a></li>
                    <li><a href="#">Groups Directory</a></li>
                    <li><a href="#">Title Directory</a></li>
                </ul>
            </div>
            <div class="main-footer-part2">
                <p><span></span>  ;&copy 2013</p>
                <ul>
                    <li><%= link_to "User Agreement", welcome_useragreement_path%></li>
                    <li><%= link_to "Privacy Policy", welcome_privacypolicy_path%></li>
                    <li><a href="#">Community Guidelines</a></li>
                    <li><%= link_to "Cookie Policy", welcome_cookies_path%></li>
                    <li><a href="#">Copyright Policy</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </footer>  

</body>
</html>